<a href="https://colab.research.google.com/github/treezy254/pandas/blob/master/Creating_Reading_%26_writing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Creating, Reading and Writing

In [ ]:
import pandas as pd
pd.set_option('max_rows', 5)

In [ ]:
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
fruits

   Apples  Bananas
0      30       21

In [ ]:
fruit_sale = pd.DataFrame([[35, 21], [41, 34]], columns=['Apples', 'Bananas'], index=['2022_sales', '2023_sales'])
fruit_sale

            Apples  Bananas
2022_sales      35       21
2023_sales      41       34

In [ ]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour','Milk', 'Eggs', 'Spam'], name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [12, 32]}, index=['year 1', 'year 2'])
animals.to_csv('cows_and_goats.csv')