<a href="https://colab.research.google.com/github/treezy254/pandas/blob/master/grouping_and_sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
reviews.describe

<bound method NDFrame.describe of          country                                        description  \
0          Italy  Aromas include tropical fruit, broom, brimston...
1       Portugal  This is ripe and fruity, a wine that is smooth...
2             US  Tart and snappy, the flavors of lime flesh and...
3             US  Pineapple rind, lemon pith and orange blossom ...
4             US  Much like the regular bottling from 2012, this...
...          ...                                                ...
129966   Germany  Notes of honeysuckle and cantaloupe sweeten th...
129967        US  Citation is given as much as a decade of bottl...
129968    France  Well-drained gravel soil gives this wine its c...
129969    France  A dry style of Pinot Gris, this is crisp with ...
129970    France  Big, rich and off-dry, this is powered by inte...

                                   designation  points  price  \
0                                 Vulkà Bianco      87    NaN
1                                     Avidagos      87   15.0
2                                          NaN      87   14.0
3                         Reserve Late Harvest      87   13.0
4           Vintner's Reserve Wild Child Block      87   65.0
...                                        ...     ...    ...
129966  Brauneberger Juffer-Sonnenuhr Spätlese      90   28.0
129967                                     NaN      90   75.0
129968                                   Kritt      90   30.0
129969                                     NaN      90   32.0
129970           Lieu-dit Harth Cuvée Caroline      90   21.0

                 province             region_1           region_2  \
0       Sicily & Sardinia                 Etna                NaN
1                   Douro                  NaN                NaN
2                  Oregon    Willamette Valley  Willamette Valley
3                Michigan  Lake Michigan Shore                NaN
4                  Oregon    Willamette Valley  Willamette Valley
...                   ...                  ...                ...
129966              Mosel                  NaN                NaN
129967             Oregon               Oregon       Oregon Other
129968             Alsace               Alsace                NaN
129969             Alsace               Alsace                NaN
129970             Alsace               Alsace                NaN

               taster_name taster_twitter_handle  \
0            Kerin O’Keefe          @kerinokeefe
1               Roger Voss            @vossroger
2             Paul Gregutt           @paulgwine
3       Alexander Peartree                   NaN
4             Paul Gregutt           @paulgwine
...                    ...                   ...
129966  Anna Lee C. Iijima                   NaN
129967        Paul Gregutt           @paulgwine
129968          Roger Voss            @vossroger
129969          Roger Voss            @vossroger
129970          Roger Voss            @vossroger

                                                    title         variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red
2           Rainstorm 2013 Pinot Gris (Willamette Valley)      Pinot Gris
3       St. Julian 2013 Reserve Late Harvest Riesling ...        Riesling
4       Sweet Cheeks 2012 Vintner's Reserve Wild Child...      Pinot Noir
...                                                   ...             ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...        Riesling
129967                  Citation 2004 Pinot Noir (Oregon)      Pinot Noir
129968  Domaine Gresser 2013 Kritt Gewurztraminer (Als...  Gewürztraminer
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)      Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...  Gewürztraminer

                                          winery
0                                        Nicosia
1                            Quinta dos Avidagos
2                                      Rainstorm
3                                     St. Julian
4                                   Sweet Cheeks
...                                          ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef)
129967                                  Citation
129968                           Domaine Gresser
129969                      Domaine Marcel Deiss
129970                          Domaine Schoffit

[129971 rows x 13 columns]>

In [2]:
# Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

taster_twitter_handle = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
taster_twitter_handle

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

In [3]:
# What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

best_rating_price = reviews.groupby('price')['points'].max().sort_index()
best_rating_price

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [4]:
# What are the minimum and maximum prices for each variety of wine? Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof.

price_extremes = reviews.groupby('variety').price.agg(['min', 'max'])
price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [5]:
# What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [6]:
# Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

reviewer_mean_rating = reviews.groupby('taster_name').points.mean()
reviewer_mean_rating

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

In [7]:
reviewer_mean_rating.describe

<bound method NDFrame.describe of taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64>

In [8]:
# What combination of countries and varieties are most common? Create a Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
country_variety_counts

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64